#suggest {
    /*position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: calc(200px - 2rem);
		color:#aaa;
		left: 1rem;
    padding: 4px;
    box-sizing: border-box;
    z-index: 2;*/
    position: fixed;
    right: 16px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 100%;
    max-width: calc(100vw - 484px);
    color: #aaa;
    padding: 4px;
    box-sizing: border-box;
    z-index: 3;
}
#suggest div {
    display: block;
    overflow: hidden;
    white-space: nowrap;
		line-height:1.2;
}
#suggest div.select{ /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}
.regexp-search{
	width:calc(100vw - 450px);
	position: relative;
}
.regexp-search input{
	margin:0;
	height:2rem;
	background: #fff;
	border-radius:2rem;
	padding:0 1rem;
	color:#333;
	box-sizing: border-box;
}
@media only screen and (max-width : 600px) {
    #suggest{
        width:auto;
        z-index:3;
        max-width: initial;
    }
    .regexp-search {
        width: calc(100vw - 200px);
    }
}
